@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: blue;
    color: #fff;
    font-family: Roboto, sans-serif;
    padding: 20px;
}

#name {
    font-size: 50px;
}

.requirements {
    color: green;
    font-size: 35px;
}

.job-role {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: red;
    margin-right: 10px;
    font-size: 20px;
}